Source: cidr
Section: utils
Priority: optional
Maintainer: Benjamin Toll <ben@benjamintoll.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://benjamintoll.com
#Vcs-Browser: https://salsa.debian.org/debian/cidr
#Vcs-Git: https://salsa.debian.org/debian/cidr.git
Rules-Requires-Root: no

Package: cidr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Display network and host information for CIDR notation
 Make new friends and enemies.
